/GUIFormExamples/nbproject/private/
/projeto_NAR2/nbproject/private/
/projeto_NAR2/build/
/projeto_NAR2/dist/
*.class
/ProcessadorDeMacros/build/
/ProcessadorDeMacros/dist/
/AnagramGame/nbproject/private/
/TesteMontador/nbproject/private/
/TesteMontador/build/
/TesteMontador/dist/